[submodule "in_process"]
	path = web
	url = https://github.com/sweetmantech/in_process
[submodule "In-Process-API"]
	path = api
	url = https://github.com/sweetmantech/In-Process-API
[submodule "docs"]
	path = docs
	url = https://github.com/sweetmantech/docs
[submodule "indexer"]
	path = indexer
	url = https://github.com/sweetmantech/Coins-Beneficiaries-Indexer
[submodule "database"]
	path = database
	url = https://github.com/sweetmantech/in_process_database
[submodule "skills"]
	path = skills
	url = https://github.com/sweetmantech/in_process_skills
