[submodule "in_process"]
	path = web
	url = https://github.com/sweetmantech/in_process
[submodule "In-Process-API"]
	path = api
	url = https://github.com/sweetmantech/In-Process-API
[submodule "In-Process-Tasks"]
	path = tasks
	url = https://github.com/sweetmantech/In-Process-Tasks
[submodule "docs"]
	path = docs
	url = https://github.com/sweetmantech/docs
